/* font-family: 'Inter', sans-serif; */
body{
    padding: 0;
    margin: 0;
}

#login-page{
    display: flex;
    height:100vh;
    padding: 0;
    margin: 0;
}

#login-page .left{
    width: 50%;
    background-image: linear-gradient(#FFFF0050 100%, white 0%), url('image 15.png') ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.logo img{
    /* width: 190px; 
    height: 41.95px; */
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.logo p{
    color: white;
    font-size: 18px;
    font-family: Airbnb Cereal App;
    font-weight: 700;
    position: absolute;
    top: 67%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#login-page .right{
    width: 50%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.wrapper{
    width: 375px;
    height: 450px;
    padding: 0;
    /* background-color: lightblue; */
}

.wrapper .welcome{
    color: #EFC81A  ;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.wrapper p{
    text-align:center;
    color: #8692A6;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
}

.input-email h3{
    color: #696F79;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border-color: #EFC81A;
}

.input-email input{
    width: 100%;
    color: #494949;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border-radius: 4px;
    padding: 10px 20px 12px 12px;
    border-width: 2px;
    border-color: #EFC81A;
}

.input-pass h3{
    color: #696F79;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.input-pass input{
    width: 92% ;
    color: #8692A6;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border-width: 2px;
    border-radius: 4px;
    border-color: #8692A6;
    padding: 10px 20px 12px 12px;
}

.terms-text{
    color: #696F79;
}

button{
    width: 100%;
    line-height: 33px;
    background-color: #EFC81A;
    color: white;
    border-color: #EFC81A;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-top: 25px;
}

.link-pass{
    color: #999999;
    font-size: 12px;
    float: right;
}

.regis p{
    color: #999999;
    font-size: 13px;
    font-family: Airbnb Cereal App;
    font-weight: 500;
}

.link-regis {
    color: #EFC81A;
    font-size: 13px;
    font-family: Airbnb Cereal App;
    font-weight: 500;
}

/* Fokus mobile*/
@media screen and (max-width:576px) {
    .left{
      display: none;
    }
    #login-page{
      justify-content: center;
      align-items: center;
    }
  }

  /* tablet */
@media screen and (max-width: 834px){
    .left{
        display: none;
      }
      #login-page{
        justify-content: center;
        align-items: center;
      }
}